/.gradle
/gradle
build.gradle
settings.gradle
gradle
/gradlew*
*.orig
*.bak
*.iml
*.ipr
*.iws
*.xz
*.xz
*~
*.log
.classpath
.project
.settings/
/.idea
/.metadata
/.project
/.settings
/atlassian-ide-plugin.xml
/integrationpublish
/RemoteSystemsTempFiles
target/
.DS_Store
